table
{
    width: 100%;
}

th
{
    background-color: rgb(103, 105, 103);
    color:antiquewhite;
}

tr
{
    width: 20%;
}

tr:nth-child(odd)
{
    background-color: antiquewhite;
    /* color:rgb(103, 105, 103); */
}