body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table
{
    width: 100%;
}

th
{
    background-color: rgb(103, 105, 103);
    color:antiquewhite;
}

tr
{
    width: 20%;
}

tr:nth-child(odd)
{
    background-color: antiquewhite;
    /* color:rgb(103, 105, 103); */
}
